<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Profile Image:</strong><br>
  <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image %>
  <% else %>
    プロフィール画像は未登録です。
  <% end %>
</p>
